<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="SavedIPRanges" type="System.Configuration.NameValueSectionHandler" />
	 <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="YAMI_Scanner.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
  </sectionGroup>
 </configSections>
	<SavedIPRanges>
	</SavedIPRanges>
	<system.net>
		<settings>
			<httpWebRequest useUnsafeHeaderParsing="true"  />
		</settings>
	</system.net>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <YAMI_Scanner.Properties.Settings>
            <setting name="TimeoutTime" serializeAs="String">
                <value>2.5</value>
            </setting>
            <setting name="MaxConcurrentScans" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="MaxRepeatScan" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="UpdateTimeout" serializeAs="String">
                <value>180</value>
            </setting>
            <setting name="ConcurrentUpdate" serializeAs="String">
                <value>10</value>
            </setting>
        </YAMI_Scanner.Properties.Settings>
    </userSettings>
</configuration>
